.fields
	.field{:style=>'display:inline-block;'}
		= f.select :bill_id,Bill.where("amount > amount_paid or amount_paid IS NULL").map{|p|[p.reference_no,p.id]},{:include_blank =>'Select A Bill',:selected => if @bill.blank? then f.object.bill_id else @bill.id end},:class=>'chzn-select',:style=>'width:210px;'
	.field{:style=>'display:inline-block;'}
		= f.text_field :amount,:placeholder=>'0.0',:value=>if f.object.amount.nil? then (@bill.amount.to_f-@bill.amount_paid.to_f).round(2) else  f.object.amount end,:class=>'amount_field',:id=>'bill_payments_amount'
%script
	$('.chzn-select').chosen()