= form_for @bill_payment_voucher do |f|
  - if @bill_payment_voucher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill_payment_voucher.errors.count, "error")} prohibited this bill_payment_voucher from being saved:"
      %ul
        - @bill_payment_voucher.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-xs-3
      = f.label :reference_no
      = f.text_field :reference_no,:class=>"form-control"
    .field.col-xs-3
      = f.label :payment_date
      = f.text_field :payment_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  .field
    = f.label :payee
    = f.text_field :payee,:value=> if @bill.blank? then f.object.payee else @bill.supplier.name end,:class=>"form-control"
  .field
  .field{:style=>'display:inline-block;'}
    =f.label :bills
  .field{:style=>'display:inline-block;padding-left:190px;'}
    =f.label :amount  
  .field
    = f.fields_for :bill_payments do |bill|
      = render "bill_payments_fields", :f => bill
  .row
    .field.col-xs-6
      = f.label :payment_from
      = f.select :account_id,Plutus::Account.all.order(:type).map{|p|[p.name,p.id]},{:selected => if f.object.account_id.nil? then Plutus::Asset.first else  f.object.account_id end},:class=>'chzn-select form-control'
  .field
    = f.label :description
    = f.text_area :description,:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back',@bill,:class=>'btn btn-default'
