%p
  %b Reference no:
  = @bill_payment_voucher.reference_no
%p
  %b Payment date:
  = @bill_payment_voucher.payment_date
%p
  %b Payee:
  = @bill_payment_voucher.payee
%p
  %b Account:
  = @bill_payment_voucher.account
%p
  %b Description:
  = @bill_payment_voucher.description

= link_to 'Edit', edit_bill_payment_voucher_path(@bill_payment_voucher)
\|
= link_to 'Back', bill_payment_vouchers_path
