.fields
  .field{:style=>'display:inline-block;'}
    = f.select :account_id,Plutus::Account.all.map{|p|[p.name,p.id]},{:selected=>if f.object.account_id.nil? then Plutus::Expense.first.id else  f.object.account_id end},:class=>'chzn-select',:style=>'width:210px;'
  .field{:style=>'display:inline-block;'}
    = f.text_field :amount,:placeholder=>'0.0',:value=>f.object.amount,:class=>'amount_field',:id=>'general_payments_amount'
  .field{:style=>'display:inline-block;'}
    = f.select :tax_code_id,TaxCode.all.map{|p|[p.name,p.id]},{:include_blank =>'Select Tax',:selected => f.object.tax_code_id},:class=>'chzn-select',:style=>'width:110px;'
    = f.hidden_field :tax_amount,:value=>'0.0'
  = link_to_remove_fields "Remove", f
%script
  $('.chzn-select').chosen()