.row
  .pull-right
    = form_for general_payment_vouchers_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>6}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                General Receipt Vouchers
              = link_to 'New Payment', new_general_payment_voucher_path,:class=>"btn btn-default pull-right"
          %tr
            %th
              %i.icon-edit
            %th #            
            %th Date
            %th Payee
            %th Description
            %th.amount Amount
          - @general_payment_vouchers.each do |payment|
            %tr.table-header-row.table-striped
              %td= link_to 'Edit', edit_general_payment_voucher_path(payment),:class=>"btn btn-default btn-xs active"
              %td= payment.reference_no                          
              %td= payment.payment_date.strftime('%d/%m/%Y')
              %td= payment.payee
              %td= payment.description
              %td.amount= number_to_currency(payment.general_payments.sum('amount'),unit:'') 
  = will_paginate @general_payment_vouchers,:renderer => BootstrapPagination::Rails                