= form_for @general_ledger do |f|
  - if @general_ledger.errors.any?
    #error_explanation
      %h2= "#{pluralize(@general_ledger.errors.count, "error")} prohibited this general_ledger from being saved:"
      %ul
        - @general_ledger.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.col-xs-3
      = f.label :from
      = f.text_field :from,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
    .field.col-xs-3
      = f.label :to
      = f.text_field :to,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', general_ledgers_path,:class=>'btn btn-default'
