.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>5}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                General Ledger Summaries
              = link_to 'New General ledger', new_general_ledger_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th{:style=>'width:15px;'}
              %i.icon-edit
            %th{:style=>'width:15px;'}
              %i.icon-eye-open             
            %th{:style=>'width:25px;'} From
            %th{:style=>'width:25px;'} To
            %th
          - @general_ledgers.each do |general_ledger|
            %tr
              %td= link_to 'Edit',edit_general_ledger_path(general_ledger),:class=>"btn btn-default btn-xs active" 
              %td= link_to 'View', general_ledger,:class=>"btn btn-default btn-xs active"          
              %td= general_ledger.from.strftime('%d/%m/%Y')
              %td= general_ledger.to.strftime('%d/%m/%Y')
              %td