%center
  %h4 General Ladger Summary
  %p
    %b From:
    = @general_ledger.from.strftime("%d-%m-%Y")
    %b To:
    = @general_ledger.to.strftime("%d-%m-%Y")
.row
  .col-md-12.content-wrapper
    %table.table.table-striped
      %tr
        %th Account Title
        %th{:class=>'amount'} Total Debit
        %th{:class=>'amount'} Total Credit
        %th{:class=>'amount'} Balance
      - #income
      - if @income_period_amounts.length > 0
        %tr
          %th{:colspan=>4} Income
        - @income_period_amounts.each do |income_account|
          %tr
            %td=link_to income_account.account.name,account_path(income_account.account,:from=>@general_ledger.from,:to=>@general_ledger.to,:general_ledger_id=>@general_ledger)
            %td{:class=>'amount'}= ledger_debit_balance(income_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_credit_balance(income_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_balance(income_account.account,@general_ledger)
      - #Expense
      - if @expense_period_amounts.length > 0
        %tr
          %th{:colspan=>4} Expenses
        - @expense_period_amounts.each do |expense_account|
          %tr
            %td=link_to expense_account.account.name,account_path(expense_account.account,:from=>@general_ledger.from,:to=>@general_ledger.to,:general_ledger_id=>@general_ledger)
            %td{:class=>'amount'}= ledger_debit_balance(expense_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_credit_balance(expense_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_balance(expense_account.account,@general_ledger)
      - #Assets
      - if @assets_period_amounts.length > 0
        %tr
          %th{:colspan=>4} Assets
        - @assets_period_amounts.each do |asset_account|
          %tr
            %td=link_to asset_account.account.name,account_path(asset_account.account,:from=>@general_ledger.from,:to=>@general_ledger.to,:general_ledger_id=>@general_ledger)
            %td{:class=>'amount'}= ledger_debit_balance(asset_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_credit_balance(asset_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_balance(asset_account.account,@general_ledger)
      -#Liabilities
      - if @liability_period_amounts.length > 0
        %tr
          %th{:colspan=>4} Liabilities
        - @liability_period_amounts.each do |liability_account|
          %tr
            %td=link_to liability_account.account.name,account_path(liability_account.account,:from=>@general_ledger.from,:to=>@general_ledger.to,:general_ledger_id=>@general_ledger)
            %td{:class=>'amount'}= ledger_debit_balance(liability_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_credit_balance(liability_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_balance(liability_account.account,@general_ledger)
      -#Equity
      - if @equity_period_amounts.length > 0
        %tr
          %th{:colspan=>4} Equity
        - @equity_period_amounts.each do |equity_account|
          %tr
            %td=link_to equity_account.account.name,account_path(equity_account.account,:from=>@general_ledger.from,:to=>@general_ledger.to,:general_ledger_id=>@general_ledger)
            %td{:class=>'amount'}= ledger_debit_balance(equity_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_credit_balance(equity_account.account,@general_ledger)
            %td{:class=>'amount'}= ledger_balance(equity_account.account,@general_ledger) 
      %tr
        %th Total
        %th{:class=>'amount'}=total_ledger_debit(@general_ledger)
        %th{:class=>'amount'}=total_ledger_credit(@general_ledger)
        %td{:class=>'amount'}="--"
