= form_for @summary do |f|

  .field{:style=>'display:inline-block;'}
    = f.text_field :date_from,'data-behaviour' => 'datepicker',:style=>'width:100px;height:20px;',value: "#{Date.today.strftime('%d-%m-%Y')}",:style=>'width:160px;height:30px;'
  .action{:style=>'display:inline-block;'}
    = f.submit 'Save',:class=>'btn btn-default'
