%center
  %h3 Account summary
  %p
    %i For the period from:
    = @date_from.strftime("%d-%m-%Y")
    %i to
    =Date.today.strftime("%d-%m-%Y")
    = link_to 'Customize', edit_summary_path(@summary),:class=>'btn btn-default'
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        .content-box
          .content-box-heading
            .row
              .col-md-8 Assets
              .col-md-4
                %i.icon-inr
                  .pull-right
                    =asset_balance
          - @assets_account.each do |asset|
            .content-box-body
              .row
                .col-md-8
                  = asset.name
                .col-md-4
                  -if asset.debit_transactions.count > 0 or asset.credit_transactions.count >0 
                    %i.icon-inr
                      .pull-right
                        = link_to "#{summary_asset_balance(asset)}",account_path(asset.id,:from=>@date_from,:to=>@date_to) 
                  -else 
                    .pull-right="--"  
          .content-box-body
            .row
              .col-md-8
                Closing Stock
              .col-md-4
                -if pl_closing_stock(Date.today).to_f > 0 
                  %i.icon-inr
                    .pull-right
                      = link_to "#{number_to_currency(pl_closing_stock(Date.today),unit:'',negative_format: "(%u%n)")}",inventory_path
                -else 
                  .pull-right="--"                    
    .row  
      .col-md-12
        .content-box
          .content-box-heading
            .row
              .col-md-8 Liabilities
              .col-md-4
                %i.icon-inr
                  .pull-right
                    =liability_balance
          - @liability_account.each do |liability|
            .content-box-body
              .row
                .col-md-8
                  = liability.name
                .col-md-4
                  -if liability.debit_transactions.count > 0 or liability.credit_transactions.count >0 
                    %i.icon-inr
                      .pull-right
                        = link_to "#{summary_liability_balance(liability)}",account_path(liability.id,:from=>@date_from,:to=>@date_to) 
                  -else 
                    .pull-right="--"
    .row  
      .col-md-12
        .content-box
          .content-box-heading
            .row
              .col-md-8 Equity
              .col-md-4
                %i.icon-inr
                  .pull-right
                    =equity_balance
          - @equity_account.each do |equity|
            .content-box-body
              .row
                .col-md-8
                  = equity.name
                .col-md-4
                  -if equity.debit_transactions.count > 0 or equity.credit_transactions.count >0 
                    %i.icon-inr
                      .pull-right
                        = link_to "#{summary_equity_balance(equity)}",account_path(equity.id,:from=>@date_from,:to=>@date_to) 
                  -else 
                    .pull-right="--" 
    .row
      .col-md-12
        .content-box
          .content-box-heading
            .row
              .col-md-8 Expenses
              .col-md-4
                %i.icon-inr
                  .pull-right
                    =number_to_currency(expense_balance,unit:'')
          - @expense_account.each do |expense|
            .content-box-body
              .row
                .col-md-8
                  = expense.name
                .col-md-4
                  -if expense.debit_transactions.count > 0 or expense.credit_transactions.count >0 
                    %i.icon-inr
                      .pull-right
                        = link_to "#{number_to_currency(summary_expense_balance(expense),unit:'',negative_format: "(%u%n)")}",account_path(expense.id,:from=>@date_from,:to=>@date_to) 
                  -else 
                    .pull-right="--"
    .row
      .col-md-12
        .content-box
          .content-box-heading
            .row
              .col-md-8 Income
              .col-md-4
                %i.icon-inr
                  .pull-right
                    =number_to_currency(income_balance,unit:'')
          - @income_account.each do |income|
            .content-box-body
              .row
                .col-md-8
                  = income.name
                .col-md-4
                  -if income.debit_transactions.count > 0 or income.credit_transactions.count >0 
                    %i.icon-inr
                      .pull-right
                        = link_to "#{number_to_currency(summary_income_balance(income),unit:'',negative_format: "(%u%n)")}",account_path(income.id,:from=>@date_from,:to=>@date_to) 
                  -else 
                    .pull-right="--"
    .row
      .col-md-12
        .content-box      
          .content-box-heading
            .row
              .col-md-8 Net Profit(Loss)
              .col-md-4
                %i.icon-inr
                  .pull-right
                    = summary_profit_loss_statement
