= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.col-xs-6
      = f.label :invoice_no
      = f.text_field :invoice_no,:class=>"form-control"
  .row
    .field.col-xs-3
      = f.label :issue_date
      = f.text_field :issue_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
    .field.col-xs-3
      = f.label :due_date
      = f.text_field :due_date,'data-behaviour' => 'datepicker',value: if f.object.due_date.nil? then "#{Date.today.strftime('%d-%m-%Y')}" else f.object.due_date.strftime('%d-%m-%Y') end,:class=>"form-control"
  .row
    .field.col-xs-6
      = f.label :customer
      = f.select :customer_id,Customer.all.order(:name).map{|p|[p.name,p.id]},{:include_blank =>'Select A Customer',:selected => f.object.customer_id},:class=>'chzn-select form-control',onchange: 'find_customer(this)'
  .row  
    .field.col-xs-6
      = label_tag :billing_address
      = text_area_tag :billing_address,if f.object.customer.nil? then '' else f.object.customer.address  end,:class=>"form-control"
  .field
  .field{:style=>'display:inline-block;'}
    =f.label :invoice_item
  .field{:style=>'display:inline-block;padding-left:100px;'}
    =f.label :account
  .field{:style=>'display:inline-block;padding-left:120px;'}
    =f.label :qty
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label :price
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label :amount
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label "Tax(included)"    
  .field
    = f.fields_for :invoice_items do |items|
      = render "invoice_items_fields", :f => items
    %p= link_to_add_fields "Add more", f,:invoice_items
  .field{:style=>'margin-left:465px;'}
    = f.text_field :amount,:placeholder=>'0.0',:value=>f.object.amount,:style=>'width:80px;',:id=>"invoive_amount",:class=>"form-control"
  .field
    = f.label :internal_information
    = f.text_area :internal_information,:class=>"form-control"
  %br
  .actions
    = f.submit 'Create',:class=>'btn btn-primary'
    = link_to 'Back', invoices_path,:class=>'btn btn-default'
