.fields
  .field{:style=>'display:inline-block;'}
    = f.select :item_id,Item.joins(:inventory_ins).where("inventory_ins.in_stock > 0").order(:name).uniq.map{|p|[p.name,p.id]},{:include_blank =>'Select Item',:selected => f.object.item_id},:class=>'chzn-select',:style=>'width:160px;'
  .field{:style=>'display:inline-block;'}
    = f.select :account_id,Plutus::Account.all.order(:type).map{|p|[p.name,p.id]},{:include_blank =>'Select Account',:selected => f.object.account_id},:class=>'chzn-select',:style=>'width:180px;'
  .field{:style=>'display:inline-block;'}
    = f.text_field :qty,:placeholder=>'1',:id=>'invoice_invoice_items__qty',:style=>'width:50px;'
  .field{:style=>'display:inline-block;'}
    = f.text_field :price,:placeholder=>'0.0',onkeyup: "total_amount(this)",:style=>'width:60px;'
  .field{:style=>'display:inline-block;'}
    = f.text_field :amount,:placeholder=>'0.0',:value=>f.object.amount,:class=>'amount_field',:readonly=>true,:id=>'invoice_invoice_items__amount'
  .field{:style=>'display:inline-block;'}
    = f.select :tax_code_id,TaxCode.all.order(:name).map{|p|[p.name.to_s+" #{p.rate}%",p.id]},{:include_blank =>'Tax code'},:class=>'chzn-select',:style=>'width:120px;'
    = f.hidden_field :tax_amount,:value=>'0.0'
  .field{:style=>'display:inline-block;'} 
    = link_to_remove_invoice_fields "Remove", f
%script
  $('.chzn-select').chosen()