.row
  .pull-right
    = form_for invoices_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper 
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>9}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Invoices
              = link_to 'New Invoice', new_invoice_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th
              %i.icon-eye-open
            %th IssueDate
            %th #
            %th Customer
            %th.amount Amount 
            %th.amount Balance Due
            %th DueDate
          - @invoices.each do |invoice|
            %tr
              - if invoice.transactions.count > 0
                %td=image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs'
              -else
                %td= link_to 'Edit', edit_invoice_path(invoice),:class=>"btn btn-default btn-xs active"            
              %td= link_to 'View', invoice,:class=>"btn btn-default btn-xs active"
              %td= invoice.issue_date.strftime('%d/%m/%Y') if !invoice.issue_date.nil?
              %td= invoice.invoice_no if !invoice.invoice_no.nil?
              %td= invoice.customer.name if !invoice.customer.nil?
              %th.amount= number_to_currency(invoice.amount,unit:'') if !invoice.amount.nil?
              %th.amount= number_to_currency(invoice.amount.to_f - invoice.amount_received.to_f,unit:'') if !invoice.amount.nil?
              %td= invoice.due_date.strftime('%d/%m/%Y')  if !invoice.due_date.nil? 
  = will_paginate @invoices,:renderer => BootstrapPagination::Rails                       