.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        .col-md-3.pull-right
          = image_tag 'prosrc.png'   
        .col-md-6
          %h2 Tax Invoice
          %br
          %br
    .row
      .col-md-6
        %p
          %b To:
          = @invoice.customer.name
        %p
          %b 
          = @invoice.customer.address
      .col-md-4.pull-right
        %p
          %b Date:
          = @invoice.issue_date.strftime('%d/%m/%Y')
        %p
          %b Invoice No:
          = @invoice.invoice_no
    %br
    %table.table.table-bordered.table-responsive
      %tr.table-header-row.table-striped
        %th Item & Specification
        %th.amount Qty
        %th.amount Price
        %th.amount Amount

      - @invoice.invoice_items.each do |invoice_item|
        %tr
          %td.borderless= invoice_item.item.name
          %td.amount= invoice_item.qty
          %td.amount= number_to_currency(invoice_item.price.round(2), unit:'')
          %td.amount= number_to_currency(invoice_item.amount.round(2),unit:'')
      %tr
        %th.borderless.amount{:colspan=>3}Total
        %th.amount= number_to_currency(@invoice.amount,unit:'')
      - @invoice.invoice_items.group('tax_code_id').select('SUM(tax_amount) as tax_amount,tax_code_id').each do |tax|
        -if !tax.tax_code.blank?
          %tr
            %td.borderless.amount{:colspan=>3}=tax.tax_code.name+"  #{tax.tax_code.rate}%"+" "+"(Included)"
            %td.amount= number_to_currency(tax.tax_amount,unit:'')
      %tr
        %td.borderless.amount{:colspan=>3}Amount Received
        %td.amount= if @invoice.amount_received.blank? then '0.00' else number_to_currency(@invoice.amount_received,unit:'') end
      -if @invoice.return_invoices.joins(:transactions).count > 0
        %tr
          %td.borderless.amount{:colspan=>3}Return
          %td.amount= if @invoice.return_invoices.sum('amount').blank? then '0.00' else number_to_currency(return_invoices(@invoice.return_invoices),unit:'') end
      %tr
        %th.amount{:colspan=>3}Balance Due
        %th.amount= number_to_currency(invoice_balance_due(@invoice),unit:'')
    .col-md-12
      %p
        %b **Additional Note:
        =@invoice.internal_information
%br
-if @invoice.transactions.count >0
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#irc"} Invoice Receipts
    %li
      %a{"data-toggle" => "tab", href: "#irn"} Invoice Return
  .tab-content
    #irc.tab-pane.active    
      %table.table.table-condensed.table-striped.table-bordered.table-responsive
        %tr
          %th{:colspan=>6}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Invoices Receipts
            = link_to 'Receive money from customer', new_invoice_receipt_voucher_path(:invoice_id=>@invoice.id),:class=>'btn btn-primary pull-right'
        %tr.table-header-row.table-striped
          %th
            %i.icon-edit
          %th #
          %th Date
          %th Description
          %th Payment From
          %th.amount Amount
        -if @invoice.invoice_receipts.count >0
          - @invoice.invoice_receipts.each do |invoice_receipt|
            %tr.table-header-row.table-striped
              %td=link_to 'Edit', edit_invoice_receipt_voucher_path(invoice_receipt,:invoice_id=>@invoice),:class=>"btn btn-default btn-xs active"
              %th= invoice_receipt.invoice_receipt_voucher.reference_no
              %td= invoice_receipt.invoice_receipt_voucher.payment_date
              %td= invoice_receipt.invoice_receipt_voucher.description
              %td= invoice_receipt.invoice_receipt_voucher.account.name
              %td.amount= number_to_currency(invoice_receipt.amount.round(2),unit:'')
        - else
          %tr
            %th{:colspan=>6} No Payment received Customer for this Invoice
    #irn.tab-pane      
      %table.table.table-condensed.table-striped.table-bordered.table-responsive
        %tr
          %th{:colspan=>6}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Invoices Return
            = link_to 'Return this invoice', new_return_invoice_path(:invoice_id=>@invoice.id),:class=>'btn btn-primary pull-right'
        %tr.table-header-row.table-striped
          %th
            %i.icon-edit
          %th
            %i.icon-eye-open
          %th #
          %th Date
          %th Description
          %th.amount Amount
        -if @invoice.return_invoices.count >0
          - @invoice.return_invoices.each do |return_invoice|
            %tr
              - if return_invoice.transactions.count > 0
                %td=image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs' 
              -else   
                %td=link_to 'Edit', edit_return_invoice_path(return_invoice,:invoice_id=>return_invoice.invoice.id),:class=>'btn btn-default btn-xs'
              %th=link_to 'View', return_invoice,:class=>"btn btn-default btn-xs active"  
              %th=return_invoice.reference_no
              %td=return_invoice.return_date.strftime('%d/%m/%Y')
              %td=return_invoice.description
              %td.amount=number_to_currency(return_invoice.amount.round(2),unit:'')
        - else
          %tr
            %th{:colspan=>6} No Return transactions for this Invoice 

%br
  -if @invoice.transactions.count <=0
    = link_to 'Edit this invoice', edit_invoice_path(@invoice),:class=>'btn btn-default' 
    = link_to 'Save this invoice', transaction_invoice_path(@invoice),:class=>'btn btn-primary',data: { disable_with: "Please wait..." } 