= form_for @production do |f|
  - if @production.errors.any?
    #error_explanation
      %h2= "#{pluralize(@production.errors.count, "error")} prohibited this production from being saved:"
      %ul
        - @production.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-xs-3
      = f.label :batch_no
      = f.text_field :batch_no,:class=>"form-control"
    .field.col-xs-3
      = f.label :production_date
      = f.text_field :production_date,'data-behaviour' => 'datepicker',value: if f.object.production_date.nil? then "#{Date.today.strftime('%d-%m-%Y')}" else f.object.production_date.strftime('%d-%m-%Y') end,:class=>"form-control"
  .field
    = f.hidden_field :approved,:value=>false
  .field
    = f.label :Products
  .field{:style=>'display:inline-block;'}
    =f.label :item
  .field{:style=>'display:inline-block;padding-left:160px;'}
    =f.label :desacription    
  .field{:style=>'display:inline-block;padding-left:200px;'}
    =f.label :quantity
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label :mrp    
  .field
    = f.fields_for :product_items do |items|
      = render "product_items_fields", :f => items
    %p= link_to_add_fields "Add more", f,:product_items 
  .field
    = f.label :issue_inventory
  .field{:style=>'display:inline-block;'}
    =f.label :item
  .field{:style=>'display:inline-block;padding-left:160px;'}
    =f.label :desacription     
  .field{:style=>'display:inline-block;padding-left:200px;'}
    =f.label :quantity   
  .field
    = f.fields_for :product_raw_items do |items|
      = render "product_raw_items_fields", :f => items
    %p= link_to_add_fields "Add more", f,:product_raw_items   
  .field
    = f.label :internal_information
    = f.text_area :internal_information,:class=>"form-control"
  %br
  .actions
    = f.submit 'Create',:class=>'btn btn-primary'
    = link_to 'Back', productions_path,:class=>'btn btn-default'
