.fields
  .field{:style=>'display:inline-block;'}
    = f.select :item_id,Item.all.order(:name).map{|p|[p.name,p.id]},{:include_blank =>'Select Item',:selected => f.object.item_id},:class=>'chzn-select',:style=>'width:180px;'
  .field{:style=>'display:inline-block;'}
    = f.text_field :description,:placeholder=>'Add description',:style=>'width:280px;'    
  .field{:style=>'display:inline-block;'}
    = f.text_field :qty,:placeholder=>'1',:style=>'width:80px;'
    = link_to_remove_fields "Remove", f
%script
  $('.chzn-select').chosen()