.row
  .pull-right
    = form_for productions_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive{:id=>'sortable'}
          %tr
            %th{:colspan=>5}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Production Note
              = link_to 'New Production', new_production_path,:class=>"btn btn-default pull-right"
          %tr
            %th{:width=>'20px;'}
              %i.icon-edit
            %th{:width=>'55px;'}
              %i.icon-eye-open
            %th=sortable "production_date"
            %th=sortable "batch_no"
            %th descriptions 
          - @productions.each do |production|
            %tr
              - if production.approved?
                %td=image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs'
              -else
                %td= link_to 'Edit', edit_production_path(production),:class=>"btn btn-default btn-xs active"            
              %td= link_to 'View', production,:class=>"btn btn-default btn-xs active"
              %td= production.production_date.strftime('%d/%m/%Y') if !production.production_date.nil?
              %td= production.batch_no if !production.batch_no.nil?
              %td= production.internal_information if !production.internal_information.nil?  
  = will_paginate @productions,:renderer => BootstrapPagination::Rails                     