.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        .col-md-3.pull-right
          = image_tag 'prosrc.png'   
        .col-md-6
          %h2 Production Note
          %br
          %br
    .row
      .col-md-6
        %p
          %b Batch no:
          = @production.batch_no
        %p
          %b Date:
          = @production.production_date.strftime('%d/%m/%Y')
    %br
    %table.table.table-bordered.table-responsive
      %tr
        %th{:colspan=>4}
          %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
            Issue Materials
      %tr.table-header-row.table-striped
        %th Item
        %th Item Category
        %th Description
        %th.amount Total Qty
      - @production.product_raw_items.each do |raw_item|
        %tr
          %td= raw_item.item.name
          %td= raw_item.item.category
          %td= raw_item.description
          %td.amount= raw_item.qty
    %br      
    %table.table.table-bordered.table-responsive
      %tr
        %th{:colspan=>4}
          %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
            Product    
      %tr.table-header-row.table-striped
        %th Item
        %th Item Category
        %th Description
        %th.amount Total Qty
        %th.amount Mrp
      - @production.product_items.each do |product_item|
        %tr
          %td= product_item.item.name
          %td= product_item.item.category
          %td= product_item.description
          %td.amount= product_item.qty 
          %td.amount= product_item.mrp         
    .col-md-12
      %p
        %b **Additional Note:
        =@production.internal_information
%br
  -if !@production.approved?
    = link_to 'Edit', edit_production_path(@production),:class=>'btn btn-default' 
    = link_to 'approved this production note', approved_production_path(@production),:class=>'btn btn-primary',data: { disable_with: "Please wait..." }