.fields
  .row
    .field.col-xs-12
      .field{:style=>'display:inline-block;'}
        = f.select :item_id,Item.all.order(:name).map{|p|[p.name,p.id]},{:include_blank =>'Select A Item',:selected => f.object.item_id},:class=>'chzn-select',:style=>'width:160px;'
      .field{:style=>'display:inline-block;'}
        = f.select :account_id,Plutus::Account.all.order(:type).map{|p|[p.name,p.id]},{:include_blank =>'Select A Account',:selected => f.object.account_id},:class=>'chzn-select',:style=>'width:180px;'
      .field{:style=>'display:inline-block;'}
        = f.text_field :qty,:placeholder=>'1',:style=>'width:50px;',:id=>'bill_bill_accounts__qty'
      .field{:style=>'display:inline-block;'}
        = f.text_field :price,:placeholder=>'0.0',:style=>'width:60px;',onkeyup: "total_bill_amount(this)"
      .field{:style=>'display:inline-block;'}
        = f.text_field :amount,:placeholder=>'0.0',:value=>f.object.amount,:class=>'amount_field',:id=>'bill_bill_accounts_amount',:readonly=>true
      .field{:style=>'display:inline-block;'}
        = f.select :tax_code_id,TaxCode.all.order(:name).map{|p|[p.name.to_s+" #{p.rate}%",p.id]},{:include_blank =>'Tax code'},:class=>'chzn-select',:style=>'width:120px;',:id=>'bill_tax_code'
        = f.hidden_field :tax_amount, :value=>'0.0'
      .field{:style=>'display:inline-block;'}
      = link_to_remove_bill_fields "Remove", f
%script
  $('.chzn-select').chosen()