= form_for @bill do |f|
  - if @bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill.errors.count, "error")} prohibited this bill from being saved:"
      %ul
        - @bill.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.col-xs-6
      = f.label :reference_no
      = f.text_field :reference_no,:class=>"form-control"
  .row
    .field.col-xs-3
      = f.label :issue_date
      = f.text_field :issue_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
    .field.col-xs-3
      = f.label :due_date
      = f.text_field :due_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  .row
    .field.col-xs-6
      = f.label :supplier
      = f.select :supplier_id,Supplier.all.order(:name).map{|p|[p.name,p.id]},{:include_blank =>'Select A supplier',:selected => f.object.supplier_id},:class=>'chzn-select form-control',onchange: 'find_supplier(this)'
  .row
    .field.col-xs-6
      = label_tag :billing_address
      = text_area_tag :billing_address,if f.object.supplier.nil? then '' else f.object.supplier.address  end ,:class=>"form-control"
  .field
  .field{:style=>'display:inline-block;'}
    =f.label :bill_item
  .field{:style=>'display:inline-block;padding-left:124px;'}
    =f.label :account
  .field{:style=>'display:inline-block;padding-left:123px;'}
    =f.label :qty
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label :price
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label :amount
  .field{:style=>'display:inline-block;padding-left:35px;'}
    =f.label "Tax(included)"  
  .field
    = f.fields_for :bill_items do |bill_item|
      = render "bill_items_fields", :f => bill_item
    %p= link_to_add_fields "Add more", f,:bill_items
  .field{:style=>'margin-left:465px;'}
    = f.text_field :amount,:placeholder=>'0.0',:value=>f.object.amount,:style=>'width:80px;',:id=>"bill_amount",:class=>"form-control"
  .field
    = f.label :internal_information
    = f.text_area :internal_information,:class=>"form-control"
  %br
  .actions
    = f.submit 'Create',:class=>'btn btn-primary'
    = link_to 'Back', bills_path,:class=>'btn btn-default'
