.row
  .pull-right
    = form_for bills_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive{:id=>'sortable'}
          %tr
            %th{:colspan=>9}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Bills
              = link_to 'New Bill', new_bill_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th
              %i.icon-eye-open
            %th=sortable "issue_date"
            %th #
            %th Supplier
            %th.amount=sortable "amount" 
            %th.amount Balance Due 
            %th DueDate
          - @bills.each do |bill|
            %tr
              - if bill.transactions.count > 0
                %td=image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs'
              -else
                %td= link_to 'Edit', edit_bill_path(bill),:class=>"btn btn-default btn-xs active"            
              %td= link_to 'View', bill,:class=>"btn btn-default btn-xs active"
              %td= bill.issue_date.strftime('%d/%m/%Y') if !bill.issue_date.nil?
              %td= bill.reference_no if !bill.reference_no.nil?
              %td= bill.supplier.name if !bill.supplier.nil?
              %th.amount= number_to_currency(bill.amount,unit:'') if !bill.amount.nil?            
              %th.amount= number_to_currency(bill.amount.to_f - bill.amount_paid.to_f,unit:'') if !bill.amount.nil?
              %td= bill.due_date.strftime('%d/%m/%Y')  if !bill.due_date.nil?  
  = will_paginate @bills,:renderer => BootstrapPagination::Rails                      