.row
  .col-md-12.content-wrapper
    .row  
      .col-md-12
        .col-md-3.pull-right
          %b Reference no:
          = @bill.reference_no   
        .col-md-6
          %h2 Purchase Invoice
          %br
          %br
    .row
      .col-md-6
        %p
          %b From:
          = @bill.supplier.name
        %p
          %b 
          = @bill.supplier.address
      .col-md-4.pull-right
        %p
          %b Date:
          = @bill.issue_date.strftime('%d/%m/%Y')
        %p
          %b Due Date:
          = @bill.due_date.strftime('%d/%m/%Y')
    %br
    %table.table.table-bordered.table-responsive
      %tr.table-header-row.table-striped
        %th Item & Specification
        %th.amount Qty
        %th.amount Price
        %th.amount Amount

      - @bill.bill_items.each do |bill_item|
        %tr
          %td.borderless= bill_item.item.name
          %td.amount= bill_item.qty
          %td.amount= number_to_currency(bill_item.price.round(2), unit:'')
          %td.amount= number_to_currency(bill_item.amount.round(2),unit:'')
      %tr
        %th.borderless.amount{:colspan=>3}Total
        %th.amount= number_to_currency(@bill.amount,unit:'')
      - @bill.bill_items.group('tax_code_id').select('SUM(tax_amount) as tax_amount,tax_code_id').each do |tax|
        -if !tax.tax_code.blank?
          %tr
            %td.borderless.amount{:colspan=>3}=tax.tax_code.name+"  #{tax.tax_code.rate}%"+" "+"(Included)"
            %td.amount= number_to_currency(tax.tax_amount,unit:'')
      %tr
        %td.borderless.amount{:colspan=>3}Amount Paid
        %td.amount= if @bill.amount_paid.blank? then '0.00' else number_to_currency(@bill.amount_paid,unit:'') end
      %tr
        %th.amount{:colspan=>3}Balance Due
        %th.amount= number_to_currency(@bill.amount.to_f - @bill.amount_paid.to_f,unit:'')
    %br
    .col-md-12
      %p
        %b **Additional Note:
        =@bill.internal_information
%br
  - if @bill.transactions.count > 0
    %table.table.table-bordered.table-responsive
      %tr
        %th{:colspan=>6}
          %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
            Bill Payments
          = link_to 'Pay money to Supplier', new_bill_payment_voucher_path(:bill_id=>@bill.id),:class=>'btn btn-primary pull-right'
      %tr.table-header-row.table-striped
        %th
          %i.icon-edit
        %th #
        %th Date
        %th Description
        %th Received in
        %th.amount Amount
      -if @bill.bill_payments.count >0
        - @bill.bill_payments.each do |bill_payment|
          %tr.table-header-row.table-striped
            %td=link_to 'Edit', edit_bill_payment_voucher_path(bill_payment,:bill_id=>@bill),:class=>"btn btn-default btn-xs active"
            %th= bill_payment.bill_payment_voucher.reference_no
            %td= bill_payment.bill_payment_voucher.payment_date
            %td= bill_payment.bill_payment_voucher.description
            %td= bill_payment.bill_payment_voucher.account.name
            %td.amount= number_to_currency(bill_payment.amount.round(2),unit:'')
      - else
        %tr
          %th{:colspan=>6} No Payment to supplier for this Bill

%br
  - if @bill.transactions.count <= 0
    = link_to 'Edit this Bill', edit_bill_path(@bill),:class=>'btn btn-default'
    = link_to 'Save this Bill', transaction_bill_path(@bill),:class=>'btn btn-primary',data: { disable_with: "Please wait..." }