%center
	%h3 Settings
.row
	.col-md-12.content-wrapper
		.row
			.col-md-12
				.col-md-4.report-box.btn-default
					%a{:href=>"#{accounts_path}"}
						.center
							%b Chart of Accounts
							%p Create and maintain list of accounts for income,expenses,assets,liability & equity
				.col-md-4.report-box.btn-default
					%a{:href=>"#{items_path}"}
						.center
							%b Inventory Item
							%p Create and view list of items and Inventory.
							%br
							%br
				.col-md-4.report-box.btn-default
					%a{:href=>"#{tax_codes_path}"}
						.center
							%b Custom Tax code
							%p Create custom tax code and tax rate. 
							%br
							%br