= form_for @customer do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name,:placeholder=>'Customer Name..',:class=>"form-control"
  .field
    = f.label :address
    = f.text_area :address,:placeholder=>'Customer Address..',:class=>"form-control"
  .field
    = f.label :email
    = f.email_field :email,:placeholder=>'email..',:class=>"form-control"
  .row
    .field.col-xs-4
      = f.label :telephone
      = f.text_field :telephone,:placeholder=>'Optional..',:class=>"form-control"
    .field.col-xs-4
      = f.label :mobile
      = f.text_field :mobile,:placeholder=>'Optional..',:class=>"form-control"  
  .field
    = f.label :additional_information
    = f.text_area :additional_information,:placeholder=>'Optional..',:class=>"form-control"
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', customers_path,:class=>'btn btn-default'