.row
  .pull-right
    = form_for customers_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>5}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Customers
              = link_to 'New Customer', new_customer_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th
              %i.icon-eye-open              
            %th Name
            %th Email
            %th.amount Due Amount
          - @customers.each do |customer|
            %tr.table-header-row.table-striped
              %th= link_to 'Edit', edit_customer_path(customer),:class=>"btn btn-default btn-xs active"
              %th= link_to 'View', customer,:class=>"btn btn-default btn-xs active"
              %td= customer.name
              %td= customer.email
              %td.amount= number_to_currency(customer.invoices.sum('amount').round(2)-customer.invoices.sum('amount_received').round(2),unit:'',negative_format: "(%u%n)")
  = will_paginate @customers,:renderer => BootstrapPagination::Rails              
