.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        .row
          .col-md-6
            %p
              = @customer.name
            %p
              = @customer.address  
          .col-md-6.pull-right  
            %p
              %b Email:
              = @customer.email
            %p
              %b contact:
              = @customer.telephone.to_s+"/"+@customer.mobile
        .row
          .col-md-12
            %p
              %b= "Additional information:" if !@customer.additional_information.blank?
              %br= @customer.additional_information
    %hr
    - if @customer.invoices.count > 0
      %table.table.table-striped.table-responsive
        %tr
          %th{:colspan=>7}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Due Invoices
        %tr
          %th Issue date
          %th Invoice no
          %th Amount
          %th Payment
          %th Balance
          %th Due date
        - @customer.invoices.each do |invoice|
          - if invoice.amount_received.to_f < invoice.amount.to_f
            %tr
              %td= invoice.issue_date.strftime('%d-%m-%Y')
              %td= invoice.invoice_no
              %td= number_to_currency(invoice.amount,unit:'')
              %td= number_to_currency(invoice.amount_received.to_f,unit:'')
              %td= number_to_currency(invoice.amount.to_f-invoice.amount_received.to_f,unit:'')
              %td= invoice.due_date.strftime('%d-%m-%Y')
      %table.table.table-striped.table-responsive
        %tr
          %th{:colspan=>7}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Last 10 Paid Invoices
        %tr
          %th Issue date
          %th Invoice no
          %th Amount
          %th Payment
          %th Balance
          %th Payment date
        - @customer.invoices.each do |invoice|
          - if invoice.amount_received.to_f >= invoice.amount.to_f
            %tr
              %td= invoice.issue_date.strftime('%d-%m-%Y')
              %td= invoice.invoice_no
              %td= number_to_currency(invoice.amount,unit:'')
              %td= number_to_currency(invoice.amount_received.to_f,unit:'')
              %td= number_to_currency(invoice.amount.to_f-invoice.amount_received.to_f,unit:'')
              %td= invoice.invoice_receipts.last.invoice_receipt_voucher.payment_date.strftime('%d-%m-%Y')

    = link_to 'Back', customers_path,:class=>'btn btn-default'
