= form_for @balance_sheet do |f|
  - if @balance_sheet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@balance_sheet.errors.count, "error")} prohibited this balance_sheet from being saved:"
      %ul
        - @balance_sheet.errors.full_messages.each do |msg|
          %li= msg


  .row
    .field.col-xs-3
      = f.label :as_at
      = f.text_field :as_at,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', balance_sheets_path,:class=>'btn btn-default'
