.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>4}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Balance sheet
              = link_to 'New Balance Sheet', new_balance_sheet_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th{:style=>'width:15px;'}
              %i.icon-edit
            %th{:style=>'width:15px;'}
              %i.icon-eye-open             
            %th{:style=>'width:25px;'} Date
            %th
          - @balance_sheets.each do |balance_sheet|
            %tr
              %td= link_to 'Edit',edit_balance_sheet_path(balance_sheet),:class=>"btn btn-default btn-xs active" 
              %td= link_to 'View', balance_sheet,:class=>"btn btn-default btn-xs active"          
              %td= balance_sheet.as_at.strftime('%d/%m/%Y')
              %td