%center
  %h4 Balance Sheets
  %p
    %b As at:
    = @balance_sheet.as_at.strftime("%d-%m-%Y")
.row
  .col-md-12.content-wrapper
    %table.table.table-condensed.table-striped.table-bordered.table-responsive
      %tr.table-header-row.table-striped
        %th Account Title
        %th{:class=>'amount'} Balance (Rs)
        %th{:class=>'amount'} Balance (Rs)
      - #Assets
      %tr
        %th{:colspan=>3} Assets
      - if @assets_period_amounts.length > 0
        - @assets_period_amounts.each do |asset_account|
          %tr
            %td= asset_account.account.name
            %td{:class=>'amount'}= asset_balance_bl(asset_account.account,@balance_sheet)
            %td
      %tr
        %td Closing Stock
        %td{:class=>'amount'}= number_to_currency(pl_closing_stock(@balance_sheet.as_at),unit:'',negative_format: "(%u%n)")
        %td
      %tr
        %th.amount Total Assets
        %th{:class=>'amount'}= number_to_currency(assets(@balance_sheet)+pl_closing_stock(@balance_sheet.as_at),unit:'',negative_format: "(%u%n)") 
        %th     
      -#Liabilities
      - if @liability_period_amounts.length > 0
        %tr
          %th.borderless{:colspan=>3} Liabilities
        - @liability_period_amounts.each do |liability_account|
          %tr
            %td= liability_account.account.name
            %td{:class=>'amount'}= liability_balance_bl(liability_account.account,@balance_sheet) 
            %td
        %tr
          %th.amount Total Liability
          %th{:class=>'amount'}= number_to_currency(liability(@balance_sheet),unit:'',negative_format: "(%u%n)")
          %th
      %tr
        %th{:colspan=>2} Net Assets  
        %th{:class=>'amount'}=net_assets(@balance_sheet)
      -#Equity
      - if @equity_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Equity
        - @equity_period_amounts.each do |equity_account|
          %tr
            %td= equity_account.account.name
            %td{:class=>'amount'}= equity_balance_bl(equity_account.account,@balance_sheet) 
            %td
      %tr
        %td Net Profit(Loss)
        %td{:class=>'amount'}= number_to_currency(net_profit_as_at(@balance_sheet),unit:'',negative_format: "(%u%n)")
        %td
      %tr.active
        %th{:colspan=>2} Total Equity
        %th{:class=>'amount'}= net_equity(@balance_sheet)