= form_for @profit_and_loss do |f|
  - if @profit_and_loss.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profit_and_loss.errors.count, "error")} prohibited this profit_and_loss from being saved:"
      %ul
        - @profit_and_loss.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.col-xs-3
      = f.label :from
      = f.text_field :from,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
    .field.col-xs-3
      = f.label :to
      = f.text_field :to,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', profit_and_losses_path,:class=>'btn btn-default'
