.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>5}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Profit and Loss Statement
              = link_to 'New Profit & Loss statement', new_profit_and_loss_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th{:style=>'width:15px;'}
              %i.icon-edit
            %th{:style=>'width:15px;'}
              %i.icon-eye-open             
            %th{:style=>'width:25px;'} From
            %th{:style=>'width:25px;'} To
            %th
          - @profit_and_losses.each do |profit_and_loss|
            %tr
              %td= link_to 'Edit',edit_profit_and_loss_path(profit_and_loss),:class=>"btn btn-default btn-xs active" 
              %td= link_to 'View', profit_and_loss,:class=>"btn btn-default btn-xs active"          
              %td= profit_and_loss.from.strftime('%d/%m/%Y')
              %td= profit_and_loss.to.strftime('%d/%m/%Y')
              %td