%center
  %h4 Profit and Loss Statement
  %p
    %b For the Period From:
    = @profit_and_loss.from.strftime("%d-%m-%Y")
    %b To:
    = @profit_and_loss.to.strftime("%d-%m-%Y")
.row
  .col-md-12.content-wrapper
    %table.table.table-striped
      %tr
        %th Account Title
        %th{:class=>'amount'} Amount (Rs)
      - #income
      - if @income_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Income
        - @income_period_amounts.each do |income_account|
          %tr
            %td= income_account.account.name
            %td{:class=>'amount'}= pl_income_balance(income_account.account,@profit_and_loss)
      %tr
        %td Add: Closing Stock
        %td{:class=>'amount'}= number_to_currency(pl_closing_stock(@profit_and_loss.to),unit:'',negative_format: "(%u%n)")    
      - #Expense
      - if @expense_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Expenses
        - @expense_period_amounts.each do |expense_account|
          %tr
            %td= expense_account.account.name
            %td{:class=>'amount'}= pl_expense_balance(expense_account.account,@profit_and_loss)  
      %tr
        %td Add: Opening Stock
        %td{:class=>'amount'}= number_to_currency(pl_opening_stock(@profit_and_loss.from) ,unit:'',negative_format: "(%u%n)")             
      %tr
        %th Net Profit(Loss)
        %th{:class=>'amount'}= profit_loss_statement(@profit_and_loss)