= form_for @general_receipt_voucher do |f|
  - if @general_receipt_voucher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@general_receipt_voucher.errors.count, "error")} prohibited this general_receipt_voucher from being saved:"
      %ul
        - @general_receipt_voucher.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-xs-3
      = f.label :reference_no
      = f.text_field :reference_no,:class=>"form-control"
    .field.col-xs-3
      = f.label :payment_date
      = f.text_field :payment_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  .row
    .field.col-xs-6
      = f.label :payer
      = f.text_field :payer,:class=>"form-control"
  .field
  .field{:style=>'display:inline-block;'}
    =f.label :account
  .field{:style=>'display:inline-block;padding-left:180px;'}
    =f.label :amount
  .field{:style=>'display:inline-block;padding-left:30px;'}
    =f.label "Tax(included)"  
  .field
    = f.fields_for :general_receipts do |receipt|
      = render "general_receipts_fields", :f => receipt
    %p= link_to_add_fields "Add more", f,:general_receipts 
  .row
    .field.col-xs-6
      = f.label :received_in
      = f.select :account_id,Plutus::Account.all.order(:type).map{|p|[p.name,p.id]},{:selected => if f.object.account_id.nil? then Plutus::Asset.first.id else  f.object.account_id end},:class=>'chzn-select form-control'
  .field
    = f.label :description
    = f.text_area :description,:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back',general_receipt_vouchers_path,:class=>'btn btn-default'
