.row
  .pull-right
    = form_for general_receipt_vouchers_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>6}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                General Receipt Vouchers
              = link_to 'New Receipt', new_general_receipt_voucher_path,:class=>"btn btn-default pull-right"
          %tr
            %th
              %i.icon-edit
            %th #            
            %th Date
            %th Payer
            %th Description
            %th.amount Amount
          - @general_receipt_vouchers.each do |receipt|
            %tr.table-header-row.table-striped
              %td= link_to 'Edit', edit_general_receipt_voucher_path(receipt),:class=>"btn btn-default btn-xs active"
              %td= receipt.reference_no                          
              %td= receipt.payment_date.strftime('%d/%m/%Y')
              %td= receipt.payer
              %td= receipt.description
              %th.amount= number_to_currency(receipt.general_receipts.sum('amount'),unit:'')   
  = will_paginate @general_receipt_vouchers,:renderer => BootstrapPagination::Rails                      