$('select[id^="<%= @div_id %>"]').closest('.field').find('input[id=return_invoice_qty]').val("<%= @quantity_out %>");
$('select[id^="<%= @div_id %>"]').closest('.field').find('input[id=quantity]').val("<%= @quantity_out %>");