.fields
	.field
		= f.select :account_id,Plutus::Account.all.order(:type).map{|p|[p.name,p.id]},{:include_blank =>'Select A Account',:selected => f.object.account_id},:class=>'chzn-select',:style=>'width:210px;'
		= f.text_field :description,:placeholder=>'Add description',:style=>'width:280px;' 
		= f.text_field :amount,:placeholder=>'Amount',:class=>'amount_field'
		= link_to_remove_fields "Remove", f
%script
	$('.chzn-select').chosen()