= form_for @journal_voucher do |f|
  - if @journal_voucher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@journal_voucher.errors.count, "error")} prohibited this journal_voucher from being saved:"
      %ul
        - @journal_voucher.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-xs-3
      = f.label :voucher_date
      = f.text_field :voucher_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
    .field.col-xs-3
      = f.label :reference_no
      = f.text_field :reference_no,:class=>"form-control"
  .field
    = f.label :narration
    = f.text_field :narration,:class=>"form-control"
  .field
    = f.label :debits
  .field
    = f.fields_for :debit_journals do |debit|
      = render "debit_journals_fields", :f => debit
    %p= link_to_add_fields "Add more", f,:debit_journals
  .field
    = f.label :cedits
  .field
    = f.fields_for :credit_journals do |credit|
      = render "credit_journals_fields", :f => credit
    %p= link_to_add_fields "Add more", f,:credit_journals
  .field
    = f.label :notes
    = f.text_area :notes,:placeholder=>'Optional...',:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', journal_vouchers_path,:class=>'btn btn-default'
