.row
  .pull-right
    = form_for journal_vouchers_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>6}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Journal Entries
              = link_to 'New Journal Entry', new_journal_voucher_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th #
            %th Date
            %th Narration
            %th.amount Debit Amount 
            %th.amount Credit Amount
          - @journal_vouchers.each do |journal_voucher|
            %tr
              %td= link_to 'Edit',edit_journal_voucher_path(journal_voucher),:class=>"btn btn-default btn-xs active" 
              %td= journal_voucher.reference_no           
              %td= journal_voucher.voucher_date.strftime('%d/%m/%Y')
              %td= journal_voucher.narration
              %th.amount= number_to_currency(journal_voucher.debit_journals.sum('amount'),unit:'')
              %th.amount= number_to_currency(journal_voucher.credit_journals.sum('amount'),unit:'')
  = will_paginate @journal_vouchers,:renderer => BootstrapPagination::Rails                         