= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name,:placeholder=>'Item Name..',:class=>"form-control"
  .field
    = f.label :unit
    = f.text_field :unit,:value=>'KG',:class=>"form-control"
  .field
    = f.label :type
    = f.select :item_type,[["Current Assets","ca"],["Fixed Assets","fa"]],{},:class=>"form-control"
  .field
    = f.label :category
    = f.text_field :category,:placeholder=>'item category..',:class=>"form-control"        
  .field
    = f.label :description
    = f.text_area :description,:placeholder=>'Optional..',:class=>"form-control"
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', items_path,:class=>'btn btn-default'