.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>7}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Items
              = link_to 'New Item', new_item_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th Name
            %th Unit
            %th Type
            %th Category
            %th Description
            %th Stock
          - @items.each do |item|
            %tr.table-header-row.table-striped
              %th= link_to 'Edit', edit_item_path(item),:class=>"btn btn-default btn-xs active"
              %td= item.name
              %td= item.unit
              %td= if item.item_type.eql?('ca') then "Current Asset" elsif item.item_type.eql?('fa') then "Fixed Asset" else "Not define" end
              %td= item.category
              %td= item.description
              %td.amount
                %b= number_to_currency(item.inventory,unit:'',negative_format: "(%u%n)")
