.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>8}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Item Inventory
          %tr.table-header-row.table-striped.table-responsive
            %th Item name
            %th Unit
            %th Category
            %th{:colspan=>2} Inventory In
            %th{:colspan=>2} Inventory Out
            %th Stock
          %tr.table-header-row.table-striped.table-responsive
            %th{:colspan=>3}  
            %th Qty
            %th Amount (RS)
            %th Qty
            %th Amount (RS)
            %th Amount (RS)                      
          - @items.each do |item|
            %tr.table-header-row.table-striped
              %td= item.name
              %td= item.unit
              %td= item.category
              %td.amount= number_to_currency(item.inventory_in_qty,unit:'',negative_format: "(%u%n)")
              %td.amount= number_to_currency(item.inventory_in_amount,unit:'',negative_format: "(%u%n)")
              %td.amount= number_to_currency(item.inventory_out_qty,unit:'',negative_format: "(%u%n)")
              %td.amount= number_to_currency(item.inventory_out_amount,unit:'',negative_format: "(%u%n)")
              %td.amount=number_to_currency(item.inventory_stock_amount,unit:'',negative_format: "(%u%n)")
          %tr
            %td{:colspan=>7}
              %b Closing Stock
            %td.amount=number_to_currency(pl_closing_stock(Date.today),unit:'',negative_format: "(%u%n)")

  %br
  = link_to 'Back to summaries', summaries_path,:class=>'btn btn-default'            

