= form_for @invoice_receipt_voucher do |f|
  - if @invoice_receipt_voucher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice_receipt_voucher.errors.count, "error")} prohibited this invoice_receipt_voucher from being saved:"
      %ul
        - @invoice_receipt_voucher.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-xs-3
      = f.label :reference_no
      = f.text_field :reference_no,:class=>"form-control"
    .field.col-xs-3
      = f.label :payment_date
      = f.text_field :payment_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  .field
    = f.label :payer
    = f.text_field :payer,:value=> if @invoice.blank? then f.object.payer else @invoice.customer.name end,:class=>"form-control"
  .field
  .field{:style=>'display:inline-block;'}
    =f.label :invoices
  .field{:style=>'display:inline-block;padding-left:170px;'}
    =f.label :amount  
  .field
    = f.fields_for :invoice_receipts do |receipt|
      = render "invoice_receipts_fields", :f => receipt
  .row
    .field.col-xs-6
      = f.label :received_in
      = f.select :account_id,Plutus::Account.all.order(:type).map{|p|[p.name,p.id]},{:selected => if f.object.account_id.nil? then Plutus::Asset.first else  f.object.account_id end},:class=>'chzn-select form-control'
  .field
    = f.label :description
    = f.text_area :description,:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back',@invoice,:class=>'btn btn-default'
