.fields
	.field{:style=>'display:inline-block;'}
		= f.select :invoice_id,Invoice.where('amount > amount_received or amount_received IS NULL').map{|p|[p.invoice_no,p.id]},{:include_blank =>'Select A Invoice',:selected =>if @invoice.blank? then f.object.invoice_id else @invoice.id end},:class=>'chzn-select',:style=>'width:210px;'
	.field{:style=>'display:inline-block;'}
		= f.text_field :amount,:placeholder=>'0.0',:value=>if !f.object.amount.nil? then f.object.amount else (@invoice.amount.to_f-@invoice.amount_received.to_f).round(2) end,:class=>'amount_field',:id=>'invoice_receipt_amount'
%script
	$('.chzn-select').chosen()