.navbar-custom {
  background-color: #ffffff;
  border: #edece4 1px solid;
}
.navbar-custom .navbar-brand {
  color: #212425;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #090a0a;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #212425;
}
.navbar-custom .navbar-nav > li > a {
  color: #212425;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #212425;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #212425;
  background-color: #eeeeee;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ededed;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #212425;
  border-bottom-color: #212425;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #212425;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #212425;
  border-bottom-color: #212425;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #212425;
  border-bottom-color: #212425;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #212425;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #212425;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #212425;
    background-color: #eeeeee;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #212425;
}
.navbar-custom .navbar-link:hover {
  color: #212425;
}

html {
font: 62.5%/1.65 "Open Sans", sans-serif;
}
p {
margin: 1.6em 0;
}

.page-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  max-width: 1100px;
  min-height: 800px;

  margin: 50px auto 50px auto;
  background: #fff;
  box-shadow: rgba(0,0,0,0.05) 0 1px 5px;
}
.content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 800px;
  margin: 20px auto 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.1) 1px 2px 2px 2px;
}

.report-box{
  background: #fff;
  border: rgba(0,0,0,0.05) 1px solid;
  font-size: .9em;

}
.report-box a{display:block;padding:10px 15px;color:#9e9d95;border-bottom:#edece4 1px solid}
.report-box a:hover{display:block;padding:10px 15px;color:#9e9d95;border-bottom:#edece4 1px solid;text-decoration:none}
.content-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: rgba(0,0,0,0.05) 1px solid;
  margin: 20px 0 20px 0;  
}

.content-box-heading{
  
  padding: 5px;
  background: #e9e8dd;
  color: #9e9d95;
}
.content-box-body{
  font-size: .85em;

  padding: 10px;
  background: #fff;
}
/* custom inclusion of right, left and below tabs */

.page-nav {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 20%;
  border-right: #edece4 1px solid;
  font-weight: 300;
  color: ;
  background: #fbfbf9;
}
.table-header-row th{
  text-align: center;
}
.page-nav > nav ul{list-style:none;margin:0;padding:0;border-top:#edece4 0px solid}
.page-nav > nav li{font-size:1.3rem}
.page-nav > nav li a{display:block;padding:10px 15px;color:#9e9d95;border-bottom:#edece4 1px solid}
.page-nav > nav li a:hover{color:#242628;background:rgba(0,0,0,0.04);text-decoration:none}
.page-nav{position:absolute;top:0px;right:auto;bottom:0px;left:0px;width:20%;border-right:#edece4 1px solid;font-weight:300;background:#fbfbf9}
@media (max-width: 800px), (max-width: 800px){.page-nav{position:static;width:auto}}
.page-nav ul{border-top:none}
.page-nav .current{position:relative;color:#242628;font-weight:bold;background:#fff}
.page-nav .current:hover{background:#fff}
.page-nav .current:after{content:" ";display:block;position:absolute;top:0px;right:-1px;bottom:1px;left:auto;width:1px;background:#fff}
.page-content{margin-left:15%;padding:2% 4% 2% 8%;font-size:1.7rem}
@media (max-width: 800px), (max-width: 800px){.page-content{margin:0}}
@media (max-width: 400px), (max-width: 400px){.page-content{font-size:1.4rem;padding:20px}}
.page-content img{max-width:100%}
form{font-size: 14px; margin: 3.2em 0}
form label{font-weight: normal;}
span > form{margin: 1px;}
i{padding: 0 10px 0 10px;}
table{font-size: 14px;}

