/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require chosen
 *= require app
 *= require_tree .
 */
#sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

#sortable th .asc {
  background-image: url(up_arrow.gif);
}

#sortable th .desc {
  background-image: url(down_arrow.gif);
}