.row
  .col-md-6
    %p
      %b To:
      = @invoice.customer.name
    %p
      %b 
      = @invoice.customer.address
  .col-md-4.pull-right
    %p
      %b Invoice Date:
      = @invoice.issue_date.strftime('%d/%m/%Y')
    %p
      %b Invoice No:
      = @invoice.invoice_no

= form_for @return_invoice do |f|
  - if @return_invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@return_invoice.errors.count, "error")} prohibited this return_invoice from being saved:"
      %ul
        - @return_invoice.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.col-xs-3
      = f.hidden_field :invoice_id, value: if f.object.invoice.nil? then @invoice.id else f.object.invoice.id end
      = f.label :reference_no
      = f.text_field :reference_no,:class=>"form-control"
    .field.col-xs-3
      = f.label :return_date
      = f.text_field :return_date,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control" 
  .field
    .field{:style=>'display:inline-block;'}
      =f.label :item
    .field{:style=>'display:inline-block;padding-left:160px;'}
      =f.label :quantity    
    .field
      = f.fields_for :return_invoice_items do |items|
        = render "return_invoice_items_fields", :f => items
      %p= link_to_add_fields "Add more", f,:return_invoice_items
  .field
    = f.hidden_field :amount,value: 0.00
  .field
    = f.label :description
    = f.text_area :description,:class=>"form-control"
  .actions
    = f.submit 'Create',:class=>'btn btn-primary'
    = link_to 'Back', @invoice,:class=>'btn btn-default'
