.fields
  .field{:style=>'display:inline-block;'}
    = f.select :invoice_item_id,@invoice.invoice_items.map{|i|[i.item.name,i.id]},{:include_blank =>'Select Item',:selected =>f.object.invoice_item_id },:class=>'chzn-select',:style=>'width:180px;',:onchange=>"find_item_quantity(this,this.id)"
    = hidden_field_tag :quantity,:html=>{:id=>"quantity"}
    = f.text_field :quantity,:value=> if f.object.quantity.blank? then '0.00' else  f.object.quantity end,:style=>'width:100px;',:id=>"return_invoice_qty",:onkeyup=>"validate_quantity($(this).closest('.fields').find('input[id=quantity]').val(),this.value,this)"
  .field{:style=>'display:inline-block;'} 
    = link_to_remove_fields "Remove", f
%script
  $('.chzn-select').chosen()