- @return_invoice.return_invoice_items.each do |return_item|
  - if return_item.invoice_item.qty < return_item.invoice_item.return_invoice_items.sum(:quantity)
    -@errors = true
    #error_explanation
      %h2= "Return quantity prohibited this return_invoice from being saved:"
      %ul
        %li= "Sale quantity #{return_item.invoice_item.qty} < Return Quantity #{return_item.invoice_item.return_invoice_items.sum(:quantity)}"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        .col-md-3.pull-right
          = image_tag 'prosrc.png'   
        .col-md-6
          %h2 Return Tax Invoice
          %br
          %br
    .row
      .col-md-6
        %p
          %b To:
          = @return_invoice.invoice.customer.name
        %p
          %b 
          = @return_invoice.invoice.customer.address
      .col-md-4.pull-right
        %p
          %b Date:
          = @return_invoice.return_date.strftime('%d/%m/%Y')
        %p
          %b Reference No:
          = @return_invoice.reference_no
    %br
    %table.table.table-bordered.table-responsive
      %tr.table-header-row.table-striped
        %th Item & Specification
        %th.amount Qty
        %th.amount Price
        %th.amount Amount

      - @return_invoice.return_invoice_items.each do |return_item|
        %tr
          %td.borderless= return_item.invoice_item.item.name
          %td.amount= return_item.quantity
          %td.amount= number_to_currency(return_item.rate.round(2), unit:'')
          %td.amount= number_to_currency(return_item.amount.round(2),unit:'')
      %tr
        %th.borderless.amount{:colspan=>3}Total
        %th.amount= number_to_currency(@return_invoice.amount,unit:'')
      - @return_invoice.return_invoice_items.group('tax_code_id').select('SUM(tax_amount) as tax_amount,tax_code_id').each do |tax|
        -if !tax.tax_code.blank?
          %tr
            %td.borderless.amount{:colspan=>3}=tax.tax_code.name+"  #{tax.tax_code.rate}%"+" "+"(Included)"
            %td.amount= number_to_currency(tax.tax_amount,unit:'')
      %tr
        %td.borderless.amount{:colspan=>3}Amount Received
        %td.amount= if @return_invoice.invoice.amount_received.blank? then '0.00' else number_to_currency(@return_invoice.invoice.amount_received,unit:'') end
      %tr
        %th.amount{:colspan=>3}Balance Due
        %th.amount= number_to_currency(balance_due(@return_invoice.invoice),unit:'')
    .col-md-12
      %p
        %b **Additional Note:
        =@return_invoice.description
%br
  = link_to 'Back to invoice',@return_invoice.invoice,:class=>'btn btn-default'
  -if @return_invoice.transactions.count <=0
    = link_to 'Edit this return invoice', edit_return_invoice_path(@return_invoice,:invoice_id=>@return_invoice.invoice.id),:class=>'btn btn-default' 
    = link_to 'Save this return invoice', transaction_return_invoice_path(@return_invoice),:class=>'btn btn-primary',data: { disable_with: "Please wait..." } if !@errors