.row
  .pull-right
    = form_for suppliers_path,:method=>'GET',:html=>{:class=>'navbar-form navbar-left'} do
      = text_field_tag :search,params[:search],:placeholder=>'Search...',:style=>'width:290px;',:class=>"form-control"
.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>5}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Suppliers
              = link_to 'New Supplier', new_supplier_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th
              %i.icon-eye-open              
            %th Name
            %th Email
            %th.amount Due Amount
          - @suppliers.each do |supplier|
            %tr.table-header-row.table-striped
              %th= link_to 'Edit', edit_supplier_path(supplier),:class=>"btn btn-default btn-xs active"
              %th= link_to 'View', supplier,:class=>"btn btn-default btn-xs active"
              %td= supplier.name
              %td= supplier.email
              %td.amount= number_to_currency(supplier.bills.sum('amount').round(2)-supplier.bills.sum('amount_paid').round(2),unit:'',negative_format: "(%u%n)")
  = will_paginate @suppliers,:renderer => BootstrapPagination::Rails