.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        .row
          .col-md-6
            %p
              = @supplier.name
            %p
              = @supplier.address  
          .col-md-6.pull-right  
            %p
              %b Email:
              = @supplier.email
            %p
              %b contact:
              = @supplier.telephone.to_s+"/"+@supplier.mobile
        .row
          .col-md-12
            %p
              %b= "Additional information:" if !@supplier.additional_information.blank?
              %br= @supplier.additional_information
    %hr
    - if @supplier.bills.count > 0
      %table.table.table-striped.table-responsive
        %tr
          %th{:colspan=>7}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Due Bills
        %tr
          %th Issue date
          %th Bill no
          %th Amount
          %th Payment
          %th Balance
          %th Due date
        - @supplier.bills.each do |bill|
          - if bill.amount_paid.to_f < bill.amount.to_f
            %tr
              %td= bill.issue_date.strftime('%d-%m-%Y')
              %td= bill.reference_no
              %td= number_to_currency(bill.amount,unit:'')
              %td= number_to_currency(bill.amount_paid.to_f,unit:'')
              %td= number_to_currency(bill.amount-bill.amount_paid.to_f,unit:'')
              %td= bill.due_date.strftime('%d-%m-%Y')
      %table.table.table-striped.table-responsive
        %tr
          %th{:colspan=>7}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Last 10 Paid Bills
        %tr
          %th Issue date
          %th Bill no
          %th Amount
          %th Payment
          %th Balance
          %th Payment date
        - @supplier.bills.each do |bill|
          - if bill.amount_paid.to_f >= bill.amount.to_f
            %tr
              %td= bill.issue_date.strftime('%d-%m-%Y')
              %td= bill.reference_no
              %td= number_to_currency(bill.amount,unit:'')
              %td= number_to_currency(bill.amount_paid.to_f,unit:'')
              %td= number_to_currency(bill.amount-bill.amount_paid.to_f,unit:'')
              %td= bill.bill_payments.last.bill_payment_voucher.payment_date.strftime('%d-%m-%Y')

    = link_to 'Back', suppliers_path,:class=>'btn btn-default'
