= form_for @trial_balance do |f|
  - if @trial_balance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trial_balance.errors.count, "error")} prohibited this trial_balance from being saved:"
      %ul
        - @trial_balance.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-xs-3
      = f.label :from
      = f.text_field :from,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
    .field.col-xs-3
      = f.label :to
      = f.text_field :to,'data-behaviour' => 'datepicker',value: "#{Date.today.strftime('%d-%m-%Y')}",:class=>"form-control"
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', trial_balances_path,:class=>'btn btn-default'
