.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>5}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Trial Balance Summaries
              = link_to 'New Trial balance', new_trial_balance_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th{:style=>'width:15px;'}
              %i.icon-edit
            %th{:style=>'width:15px;'}
              %i.icon-eye-open             
            %th{:style=>'width:25px;'} From
            %th{:style=>'width:25px;'} To
            %th
          - @trial_balances.each do |trial_balance|
            %tr
              %td= link_to 'Edit',edit_trial_balance_path(trial_balance),:class=>"btn btn-default btn-xs active" 
              %td= link_to 'View', trial_balance,:class=>"btn btn-default btn-xs active"          
              %td= trial_balance.from.strftime('%d/%m/%Y')
              %td= trial_balance.to.strftime('%d/%m/%Y')
              %td