%center
  %h4 Trial Balance
  %p
    %b From:
    = @trial_balance.from.strftime("%d-%m-%Y")
    %b To:
    = @trial_balance.to.strftime("%d-%m-%Y")
.row
  .col-md-12.content-wrapper
    %table.table.table-striped
      %tr
        %th Account Title
        %th{:class=>'amount'} Debit(Rs)
        %th{:class=>'amount'} Credit(Rs)
      - #income
      - if @income_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Income
        - @income_period_amounts.each do |income_account|
          %tr
            %td= income_account.account.name
            %td{:class=>'amount'}= debit_balance(income_account.account,@trial_balance)
            %td{:class=>'amount'}= credit_balance(income_account.account,@trial_balance) 
      - #Expense
      - if @expense_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Expenses
        - @expense_period_amounts.each do |expense_account|
          %tr
            %td= expense_account.account.name
            %td{:class=>'amount'}= debit_balance(expense_account.account,@trial_balance)
            %td{:class=>'amount'}= credit_balance(expense_account.account,@trial_balance)  
      - #Assets
      - if @assets_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Assets
        - @assets_period_amounts.each do |asset_account|
          %tr
            %td= asset_account.account.name
            %td{:class=>'amount'}= debit_balance(asset_account.account,@trial_balance)
            %td{:class=>'amount'}= credit_balance(asset_account.account,@trial_balance)
      -#Liabilities
      - if @liability_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Liabilities
        - @liability_period_amounts.each do |liability_account|
          %tr
            %td= liability_account.account.name
            %td{:class=>'amount'}= debit_balance(liability_account.account,@trial_balance)
            %td{:class=>'amount'}= credit_balance(liability_account.account,@trial_balance)   
      -#Equity
      - if @equity_period_amounts.length > 0
        %tr
          %th{:colspan=>3} Equity
        - @equity_period_amounts.each do |equity_account|
          %tr
            %td= equity_account.account.name
            %td{:class=>'amount'}= debit_balance(equity_account.account,@trial_balance) 
            %td{:class=>'amount'}= credit_balance(equity_account.account,@trial_balance) 
      %tr
        %th{:colspan=>2} Balance
        %th{:class=>'amount'}=number_to_currency(Plutus::Account.trial_balance.to_f.round(2),unit: '') 