= form_for @tax_code do |f|
  - if @tax_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tax_code.errors.count, "error")} prohibited this tax_code from being saved:"
      %ul
        - @tax_code.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-xs-3
      = f.label :name
      = f.text_field :name,:placeholder=>'tax code name',:class=>"form-control"
    .col-xs-2
      = f.label "Rate(%)"
      = f.text_field :rate,:value=> if f.object.rate.nil? then '0.00' else f.object.rate end,:class=>"form-control"
  .field
  %br
  .actions
    = f.submit 'Save',:class=>'btn btn-primary'
    = link_to 'Back', tax_codes_path,:class=>'btn btn-default'
