.row
  .col-md-12.content-wrapper
    .row
      .col-md-12
        %table.table.table-condensed.table-striped.table-bordered.table-responsive
          %tr
            %th{:colspan=>3}
              %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
                Tax Code
              = link_to 'New Tax code', new_tax_code_path,:class=>"btn btn-default pull-right"
          %tr.table-header-row.table-striped
            %th
              %i.icon-edit
            %th Name
            %th Rate
          - @tax_codes.each do |tax_code|
            %tr.table-header-row.table-striped
              %th= link_to 'Edit', edit_tax_code_path(tax_code),:class=>"btn btn-default btn-xs active"
              %td= tax_code.name
              %th= number_to_currency(tax_code.rate,unit:'')+" %"
