%center
	%h3 Report
.row
	.col-md-12.content-wrapper
		.row
			.col-md-12
				.col-md-4.report-box.btn-default{:style=>'padding-right:5px;'}
					%a{:href=>"#{customers_path}"}
						.center
							%b Customers Statements
							%p View Customers invoice details of each customers and due balance
				.col-md-4.report-box.btn-default
					%a{:href=>"#{suppliers_path}"}
						.center
							%b Suppliers Statements
							%p View Suppliers Bill details of each suppliers and due balance
				.col-md-4.report-box.btn-default
					%a{:href=>"#{general_ledgers_path}"}
						.center
							%b General Ledger
							%p View Ledger Content total debits,total credits and closing balance. 
		%br
		%br
		.row
			.col-md-12
				.col-md-4.report-box.btn-default
					%a{:href=>"#{trial_balances_path}"}
						.center
							%b Trial Balance
							%p View balance of ledger accounts in to debit and credit columns.
				.col-md-4.report-box.btn-default
					%a{:href=>"#{profit_and_losses_path}"}
						.center
							%b Profit & Loss Statement
							%p Review business performance,sales,profit margins expenses.
				.col-md-4.report-box.btn-default
					%a{:href=>"#{balance_sheets_path}"}
						.center
							%b Balance Sheet
							%p Analyse business financial strength,liquidity,solvency, and net worth. 