!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Account"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") Account
          .container.nav-collapse
            %ul.nav
              %li= link_to "Invoices", invoices_path
              %li= link_to "Bills", bills_path
              %li= link_to "Journal Entry",journal_vouchers_path
              %li= link_to "Payment",payment_path
              %li= link_to "Receipt",receipt_path
              %li= link_to "Report",report_path

    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Settings
              %li= link_to "Summary", summaries_path
              %li= link_to "Chart of Accounts", accounts_path
              %li= link_to "Invoice Items", items_path
              %li= link_to "Tax Codes", tax_codes_path
              %li= link_to "Suppliers", suppliers_path
              %li= link_to "Customers", customers_path
        .span9
          = bootstrap_flash
          = yield
    
      %footer
        %p &copy; Company 2013
