!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Account"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "app", :media => "all"
    = stylesheet_link_tag "bootstrap", :media => "all"
    = javascript_include_tag "application"


  %body{:style=>'padding-top:80px;'}
    %nav.navbar-custom.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %button.navbar-toggle(data-target=".navbar-ex1-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="#{root_url}")
            = image_tag "prosrc.png",:alt=>'ProSource'
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href=>''}
                %i{:class=>'icon-cogs'}= " Settings"
            %li{:class=>'dropdown'}
              %a.dropdown-toggle{:href=>'#',"data-toggle"=>"dropdown"}
                %i{:class=>'icon-user'}= " Jai Kejriwal"
                %b.caret
              %ul.dropdown-menu
                %li= link_to ' Profile','',:class=>'icon-user'
                %li
                  %a{:href=>''}
                    %span.icon-off
                    Sign out

    .cont
      .row
        .col-md-12
          .page-wrapper
            .page-nav
              %nav 
                %ul
                  %li= link_to "Summary", summaries_path,class: cpath('summaries')
                  %li= link_to "Suppliers", suppliers_path,class: cpath('suppliers')
                  %li= link_to "Customers", customers_path,class: cpath('customers')
                  %li= link_to "Invoices", invoices_path,class: invoice_cpath
                  %li= link_to "Bills", bills_path,class: bills_cpath
                  %li= link_to "Journal Entry",journal_vouchers_path,class: cpath('journal_vouchers')
                  %li= link_to "Payment",general_payment_vouchers_path,class: cpath('general_payment_vouchers')
                  %li= link_to "Receipt",general_receipt_vouchers_path,class: cpath('general_receipt_vouchers')
                  %li= link_to "Production note",productions_path,class:  cpath('productions')
                  %li= link_to "Report",report_path,class: report_cpath
                  %li= link_to "Settings",settings_path,class: setting_cpath
            .page-content
              = bootstrap_flash
              = yield
    %hr
    .container
      %hr
        %footer
          .row
            .col-md-12
              %p Copyright &copy; Rungamattee tea & industries Ltd. 2013
