.row
  .col-md-12.content-wrapper
    %h3 Add New Account
    %hr
    = form_for(:account,:url => {:action => "update",:controller=>"accounts"},:method=>:put) do |f|
      .field.form-group
        = f.label :account_name
        = f.text_field :name,:placeholder=>'Enter Name..',:class=>"form-control"
      .field.form-group
        = f.label :under
        = f.select :type,[["Asset","Plutus::Asset"],["Expense","Plutus::Expense"],["Income","Plutus::Revenue"],["Equity","Plutus::Equity"],["Liabilities","Plutus::Liability"]],{},{:selected=>@type,:class=>"form-control"}
        = f.hidden_field :is_editable,:value=>true
      %label.checkbox-inline
        = f.check_box :contra
        Contra
      %br
      %br
      .form-group
      = f.submit "Save Account",:class=>'btn btn-primary'