%center
  %h3 Chart of Accounts
.row 
  .col-md-12.content-wrapper
    .col-md-6
      .row
        .col-md-12
          .content-box
            .content-box-heading
              .row
                .col-md-8 Income
                = link_to 'New Account',new_account_path(:type=>'Plutus::Revenue'),:class=>'btn btn-default'
            %table.table.table-bordered.table-responsive
              %tr.table-header-row.table-striped
                %th
                  %i.icon-edit
                %th Name
              - @income_account.each do |income|
                %tr.table-header-row.table-striped
                  %th.col-md-2= if income.is_editable? then link_to 'Edit',edit_account_path(income),:class=>'btn btn-default btn-xs' else image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs' end
                  %td.col-md-10= income.name
      .row
        .col-md-12
          .content-box
            .content-box-heading
              .row
                .col-md-8 Expense
                = link_to 'New Account',new_account_path(:type=>'Plutus::Expense'),:class=>'btn btn-default'
            %table.table.table-bordered.table-responsive
              %tr.table-header-row.table-striped
                %th
                  %i.icon-edit
                %th Name
              - @expense_account.each do |expense|
                %tr.table-header-row.table-striped
                  %th.col-md-2= if expense.is_editable? then link_to 'Edit',edit_account_path(expense),:class=>'btn btn-default btn-xs' else image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs' end
                  %td.col-md-10= expense.name
    .col-md-6  
      .row
        .col-md-12
          .content-box
            .content-box-heading
              .row
                .col-md-8 Assets
                = link_to 'New Account',new_account_path(:type=>'Plutus::Asset'),:class=>'btn btn-default'
            %table.table.table-bordered.table-responsive
              %tr.table-header-row.table-striped
                %th
                  %i.icon-edit
                %th Name
              - @assets_account.each do |asset|
                %tr.table-header-row.table-striped
                  %th.col-md-2= if asset.is_editable? then link_to 'Edit',edit_account_path(asset),:class=>'btn btn-default btn-xs' else image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs' end
                  %td.col-md-10= asset.name
      .row
        .col-md-12
          .content-box
            .content-box-heading
              .row
                .col-md-8 Liabilities
                = link_to 'New Account',new_account_path(:type=>'Plutus::Liability'),:class=>'btn btn-default'
            %table.table.table-bordered.table-responsive
              %tr.table-header-row.table-striped
                %th
                  %i.icon-edit
                %th Name
              - @liability_account.each do |liability|
                %tr.table-header-row.table-striped
                  %th.col-md-2= if liability.is_editable? then link_to 'Edit',edit_account_path(liability),:class=>'btn btn-default btn-xs' else image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs' end
                  %td.col-md-10= liability.name
      .row
        .col-md-12
          .content-box
            .content-box-heading
              .row
                .col-md-8 Equity
                = link_to 'New Account',new_account_path(:type=>'Plutus::Equity'),:class=>'btn btn-default'
            %table.table.table-bordered.table-responsive
              %tr.table-header-row.table-striped
                %th
                  %i.icon-edit
                %th Name
              - @equity_account.each do |equity|
                %tr.table-header-row.table-striped
                  %th.col-md-2= if equity.is_editable? then link_to 'Edit',edit_account_path(equity),:class=>'btn btn-default btn-xs' else image_tag "lock.jpeg",:height=>'20px',:width=>'30px',:class=>'btn btn-default btn-xs' end
                  %td.col-md-10= equity.name
    .container
    %hr