%center
  %h4= @account.name
.row
  .col-md-12.content-wrapper
    %table.table.table-bordered.table-responsive
      - if @debit_amounts.count > 0
        %tr
          %th{:colspan=>4}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Debit Transactions
          %tr
            %th Date
            %th Source
            %th Description
            %th Amount

          - @debit_amounts.each do |debit|
            %tr
              %td= debit.transaction.transaction_date.strftime('%d-%m-%Y')
              %td= debit.transaction.commercial_document_type
              %td= debit.transaction.description
              %td.amount= number_to_currency(debit.amount,unit:'')
    %table.table.table-bordered.table-responsive
      - if @credit_amounts.count > 0
        %tr
          %th{:colspan=>4}
            %h4{:style=>"display:inline; padding-right: 20px; line-height: 1.5em"}
              Credit Transactions
        %tr
          %th Date
          %th Source
          %th Description
          %th Amount

        - @credit_amounts.each do |credit|
          %tr
            %td= credit.transaction.transaction_date.strftime('%d-%m-%Y')
            %td= credit.transaction.commercial_document_type
            %td= credit.transaction.description
            %td.amount= number_to_currency(credit.amount,unit:'')
        %tr
          %th{:colspan=>3}Balance
          %th{:class=>'amount'}=amount_balance(@debit_amounts,@credit_amounts)
  -if @general_ledger.nil?
    = link_to 'Back', summaries_path,:class=>'btn btn-default' 
  -else
    = link_to 'Back', @general_ledger,:class=>'btn btn-default'